div.vid-container {
  width: 33.3333%;
}

div.vid-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.vid-title {
  background-color: rgba(55, 76, 91, 0.75);
  color: #fafafa;
  position: relative;
  margin-top: -31px;
  padding: 4px;
}

button.play-btn {
  border: none;
  padding: 10px;
  margin: 10px;
  background-color: rgb(7, 156, 255);
  border: 1px solid rgb(41, 41, 41);
  color: rgb(255, 255, 255);
  transition: all .1s ease;
  cursor: pointer;
  border-radius: 4px;
}

.play-btn:hover {
  background-color: rgb(122, 200, 252);
  color: #292929;
}